<n-nav ng-class="{'start':note}"></n-nav>

<div id="nts-container" ng-show="notes.length" style="margin-top: 48px; position: relative;">
    <n-listview class="n-listview" ng-class="{'empty':!notes.length}"></n-listview>
		<div id="nts-editor">
			<textarea n-editor id="myID" ng-model="note[0].$value"></textarea>
		</div>
</div>

<table id="nts-emptystate" ng-hide="notes.length">
  <tr>
    <td style="width: 100%; height: 100%; text-align: center;">
      <p ng-hide="notes.length">Hey, it seems you don't have any notes yet...</p>
      <button class="btn-lg btn-primary" ng-click="createDialog()">Create your first Note</button>
    </td>
  </tr>
</table>
